x/* general styling*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    }
    
    html,body {
        overflow-x: hidden; 
        position: relative;
    }
    html{
        scroll-behavior: smooth;
    }
    body{
        font-family: 'Playfair Display', sans-serif;
        height: 100%;
        width: 100%;
    }
    /*
    .slider div:nth-child(1){
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        z-index: 9999;
        background-color: lightgrey;
        animation: slider 1s 0s 1 forwards;
    }
    
    .slider div:nth-child(2){
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      z-index: 9999;
        background-color: lightgrey;
        animation: slider 1s .6s 1 forwards;
    }
    
    @keyframes slider{
        to{
            transform: translateY(-100%);
        }
    }*/
    
    /* Loader */
    .center2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        min-height: 100vh;
        width: 100vw;
        background: black;
        color: #fff;
        z-index: 10000;
        position: fixed;
      }
      
      .ring {
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        -webkit-animation: ring 2s linear infinite;
                animation: ring 2s linear infinite;
      }
      
      @-webkit-keyframes ring {
        0% {
          -webkit-transform: rotate(0deg);
                  transform: rotate(0deg);
          -webkit-box-shadow: 1px 5px 2px #e65c00;
                  box-shadow: 1px 5px 2px #e65c00;
        }
        50% {
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg);
          -webkit-box-shadow: 1px 5px 2px #18b201;
                  box-shadow: 1px 5px 2px #18b201;
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
          -webkit-box-shadow: 1px 5px 2px #0456c8;
                  box-shadow: 1px 5px 2px #0456c8;
        }
      }
      
      @keyframes ring {
        0% {
          -webkit-transform: rotate(0deg);
                  transform: rotate(0deg);
          -webkit-box-shadow: 1px 5px 2px #e65c00;
                  box-shadow: 1px 5px 2px #e65c00;
        }
        50% {
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg);
          -webkit-box-shadow: 1px 5px 2px #18b201;
                  box-shadow: 1px 5px 2px #18b201;
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
          -webkit-box-shadow: 1px 5px 2px #0456c8;
                  box-shadow: 1px 5px 2px #0456c8;
        }
      }
      
      .ring::before {
        position: absolute;
        left: 0;
        content: '';
        top: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
                box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
      }
      
      .load1 {
        color: #737373;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 200px;
        -webkit-animation: text 3s ease-in-out infinite;
                animation: text 3s ease-in-out infinite;
      }
      
      @-webkit-keyframes text {
        50% {
          color: black;
        }
      }
      
      @keyframes text {
        50% {
          color: black;
        }
      }
      
      #loader.hide {
        -webkit-animation: fadeOut 1s forwards;
                animation: fadeOut 1s forwards;
      }
      
      @-webkit-keyframes fadeOut {
        100% {
          opacity: 0;
          visibility: hidden;
        }
      }
      
      @keyframes fadeOut {
        100% {
          opacity: 0;
          visibility: hidden;
        }
      }
      
    
    /* navbar styling*/
    .navbar-expand-md {
        background-color: #1F252A !important;
        border: 0;
        font-family: 'Playfair Display', sans-serif;
    
    }
    
    @media screen and (max-width:768px) {
    }
    
    .navbar {
        padding: .8rem;
    }
    
    .navbar-nav li {
        padding-right: 2.5rem;
    }
    
    .nav-link {
        font-family: 'Playfair Display', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF !important;
    }
    
    .navbar-brand {
        font-family: 'Playfair Display', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 40px !important;
        line-height: 53px !important;
        color: #FFFFFF;
    }
    
    
    /* Header styling*/
    .btn{
        background: #2B7A78;
        border-radius: 5px;
        padding: 15px 65px;
        text-align: center !important;
    }
    
    .caption-type{
        padding-top: 250px;
    }
    .caption-type a{
        font-family: 'Playfair Display', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
    }
    
    .caption-type h3, .word{
        font-family: 'Playfair Display', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 44px;
        color: #FFFFFF;
    }
    .caption-type p{
        font-family:'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #FFFFFF;
    }
    
    .landing-content {
        position: relative;
        background: url('../images/Hero-Section.png') no-repeat center center/cover;
        padding: 20px;
        width: 100%;
        min-height: 40em;
        color: #fff;
    }
    
    .social-icons{
        margin-top: 70px;
        padding-left: .5rem;
    }
    
    .social-icons i{
        margin-right: 20px;
    }
    
    /* Two Column section styling*/
    
    .About h2{
        font-family: 'Playfair Display', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        text-transform: capitalize;
        color: #7A7A7A;
    }
    
    .About p{
        font-family: 'Playfair Display', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        color: #7A7A7A;
    }
    
    /* Gallery styling*/
    
    .details{
        font-family: 'Playfair Display', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        text-align: center;
        color: #7A7A7A;
    }
    
    .img1 {
        width: 100%;
        height: 565px;
    }
    
    .img2 {
        width: 100%;
        height: 565px;
    }
    
    .col-md-3 .screen-img {
        padding-left: 0;
    }
    .img3 {
        width: 100%;
        height: 350px;
    }
    
    .img4 {
        width: 100%;
        height: 188px;
    }
    
    .img5 {
        width: 100% !important;
        height: 565px;
    }
    
    .img6 {
        width: 100%;
        height: 565px;
    }
    
    .img7 {
        width: 100%;
        height: 565px;
    }
    
    .button a{
        font-family: 'Playfair Display', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
    }
    
    .screen-img {
        transition: all 0.5s ease-in-out;
    }
      
    .screen-img:hover {
        transform: translateY(-10px);
    }
    
    /* Services styling*/
    
    .img8{
        width: 779px;
        height: 499px;
    }
    
    .img9{
        width: 519px;
        height: 499px;
    }
    
    .img10{
        width: 519px;
        height: 499px;
    }
    
    .img11{
        width: 779px;
        height: 499px;
    }
    .cap {
        position: relative;
    }
    
    .caption {
        position: absolute;
        top: 85%;
        width: 100%;
        text-align: center;
        font-family: 'Playfair Display', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        color: #FFFFFF;
    }
    
    /* testiomonal styling*/
    
    #testimonial{
        background-color: #F1F1F1 !important;
    }
    
    
    .center {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    
    .rule{
        background: #2B7A78;
        border-radius: 50px;
        height: 5px;
        width: 140px;
    }
    
    .write p{
        font-family: 'Playfair Display' sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #2B7A78;
    }
    
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: #7A7A7A;
    }
    
    .carousel-indicators .active {
        background: #2B7A78;
    }
    /* contact styling*/
    
    .contact-grid {
        width: 75%;
        margin: 5rem auto;
        border: .25rem solid #2B7A78;
    }
    
    .form-inputs {
        border: none;
        border-bottom: .1rem solid #2B7A78;
        width: 80%
    }
    
    textarea:focus,
    input:focus {
        outline: none !important;
        box-shadow: none !important;
        border-bottom: .1rem solid #1F252A !important;
    }
    
    .form-btn {
        padding: .4rem 2.2rem;
        border-radius: 10px;
        margin-left:  6rem;
        margin-top: 1.5rem;
    }
    
    .contact-section {
        color: #FFFFFF !important;
    }
    .white-div h3 {
        letter-spacing: 6px;
    }
    .colored-div {
        background: #2B7A78;
    }
    .colored-div h3 {
        color: #FFFFFF !important;
        letter-spacing: 5px;
    }
    
    .contact-log {
        line-height: 2;
        font-size: .8rem;
    }
    .contact-span {
        font-size: 1rem;
    }
    /* Touch section */
    
    #touch {
        background: url('../images/keep\ in\ touch.png') no-repeat;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 310px;
    }
    .touch1 h1 {
        font-weight: 600;
        color: #ffffff;
    }
    .touch1 p {
        color: #ffffff;
    }
    
    /* Subscribe section */
    
    .subscribe-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .form input {
        padding: .5rem 3rem;
        width: 453px;
        height: 72px;
        background: #FFFFFF;
        border: 1px solid #1F252A;
        box-sizing: border-box;
        border-radius: 5px 0px 0px 5px;
    }
    
    .form .btn {
        background: #2B7A78;
        border-radius: 5px;
        padding: .5rem 3rem;
        text-align: center !important;
    }
    
    .btn-default {
        font-family: 'Playfair Display', sans-serif;
        font-style: normal;
        height: 72px;
        font-weight: bold;
        font-size: 24px;
        color: #FFFFFF;
        align-self: center;
    }
    
    /* Footer section*/
    
    #footer {
        background-color: #1F252A;
    }
    
    #footer h5{
        font-family: 'Playfair Display', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        color: #FFFFFF;
    }
    
    .coloricon {
        padding-left: .5rem;
        color: #FFFFFF !important;
    }
    
    /* Responsiveness */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar-brand{
        padding-left: 0px !important;
    }
     .navbar-brand {
        font-family: Playfair Display, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 25px !important;
        color: #FFFFFF;
    }
    .About h2{
        font-family: Playfair Display, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        text-transform: capitalize;
        color: #7A7A7A;
        text-align: center;
        padding-top: 0px;
        margin-top: 0px !important;
    }
    
    .About p{
        font-family: Playfair Display, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        color: #7A7A7A;
        text-align: center;
    }
    .About{
        padding-top: 0px !important;
    }
    .img8{
        width: 100%;
        height: 100%;

    }
    .img9{
        width: 100%;
        height: 100%;
        padding-top: 2rem !important;
    }
    
    .img10{
        width: 100%;
        height: 100%;
    }
    
    .img11{
        width: 100%;
        height: 100%;
    }
    .cap{
        padding-top: 1rem !important;
    } 
    .center {
        width: 162px;
        height: 162px;
    }
    .image{
        text-align: left !important;
    }
    .rule{
        background: #2B7A78;
        border-radius: 50px;
        height: 5px;
        width: 140px;
    }
    .write p{
        font-family: Playfair Display, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: #2B7A78;
        width: 150px;
        height: 125px;
    }
    .form input {
        padding: .5rem 3rem;
        width: 200px;
        height: 72px;
        background: #FFFFFF;
        border: 1px solid #1F252A;
        box-sizing: border-box;
        border-radius: 5px 0px 0px 5px;
    }
    
    .form .btn {
        background: #2B7A78;
        border-radius: 5px;
        padding: .5rem 2rem;
        text-align: center !important;
        font-size: 13px;
    }
    .caption-type a{
        font-family: Playfair Display, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
    }
    
    .caption-type h3{
        padding-top: 270px;
        font-family: Playfair Display, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        color: #FFFFFF;
    }
    .social-icons{
        margin-top: 3px;
        padding-left: .5rem;
        padding-top: 0px !important;
    }
    .btn{
        background: #2B7A78;
        border-radius: 0px;
        padding: 15px 65px;
        text-align: center !important;
    }
    .details {
        font-size: 1.7rem;
    }
    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
    }
    .write p{
        text-align: center !important;
        margin: 0 auto !important;
        padding-top: 1rem !important;
        padding-bottom: 0 !important;
    }
    .rule {
        margin: auto;
    }

}

@media screen and (max-width: 769px) {
    .navbar-brand{
        padding-left: 0px !important;
    }
    .About h2{
        font-family: Playfair Display, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        text-transform: capitalize;
        color: #7A7A7A;
    }
    .navbar-nav li {
         padding-right: 0px;
    }
    
    .About p{
        font-family: 'Playfair Display', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #7A7A7A;
        padding-top: .5rem !important;
    }
    .img1 {
        width: 100%;
        height: 100%;
    }
    
    .img2 {
        width: 100%;
        height: 100%;
    }
    
    .col-md-3 .screen-img {
        padding-left: 0;
    }
    .img3 {
        width: 100%;
        height: 100%;
    }
    
    .img4 {
        width: 100%;
        height: 100%;
    }
    
    .img5 {
        width:100% !important;
        height: 100%;
    }
    
    .img6 {
        width: 100%;
        height: 100%;
    }
    
    .img7 {
        width: 100%;
        height: 100%;
    }
    .img8{
        width: 100%;
        height: 100%;
    }
    
    .img9{
        width: 100%;
        height: 100%;
    }
    
    .img10{
        width: 100%;
        height: 100%;
    }
    
    .img11{
        width: 100%;
        height: 100%;
    }
    .contact-grid {
        width: 100%;
    }
    
    .form-inputs {
        width: 100%
    }    
    .form-btn {
        padding: .4rem 2rem;
        margin-left: 4.5rem;
    }
    .white-div h3 {
        letter-spacing: 4px;
    }
    .colored-div h3 {
        letter-spacing: 4px;
    }
    .details {
        font-size: 1.7rem;
    }
    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
    }
    .write {
        text-align: center !important;
        margin: 0 auto !important;
        padding-top: 1rem !important;
        padding-bottom: 0 !important;
    }
    .rule {
        margin: auto;
    }
}

@media screen and (max-width: 520px){
    .navbar-brand{
        padding-left: 0px !important;
    }
    .form-btn {
        padding: .3rem 1.4rem;
        margin-left: 4rem;
    }
    .white-div h3 {
        letter-spacing: 3px;
        font-size: 1.2rem;
    }
    .colored-div h3 {
        letter-spacing: 3px;
        font-size: 1.2rem;
    }
    .details {
        font-size: 1.7rem;
    }
    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
    }
    .write {
        text-align: center !important;
        margin: 0 auto !important;
        padding-top: 1rem !important;
        padding-bottom: 0 !important;
    }
    .rule {
        margin: auto;
    }
}
@media screen and (min-width:300px) and (max-width: 600px){
    .navbar-brand{
        padding-left: 0px !important;
    }
    .About h2{
        font-family: 'Playfair Display', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.7rem !important;
        text-transform: capitalize;
        color: #7A7A7A;
        text-align: center;
    }
    
    .About p{
        font-family: 'Playfair Display', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        color: #7A7A7A;
        padding-top: .5rem !important;
        text-align: center;
    }
    .caption-type h3, .word{
        font-family: 'Playfair Display', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
            color: #FFFFFF;
    }
    .btn{
        background: #2B7A78;
        border-radius: 5px;
        padding: 15px 45px;
        text-align: center !important;
    }
    .img1 {
        width: 100%;
        height: 100%;
    }
    
    .img2 {
        width: 100%;
        height: 100%;
    }
    .screen-img{
        padding-right: 0px !important;
    }
    .col-md-3 {
        padding-right: 0px !important;
    }
    
    .col-md-3 .screen-img {
        padding-left: 0;
    }
    .img3 {
        width: 100%;
        height: 100%;
    }
    
    .img4 {
        width: 100%;
        height: 100%;
        
    }
    
    .img5 {
        width: 100% !important;
        height:100%;
        padding-top: 2rem;
    }
    .pl-5{
        padding-left: 0px !important;
    }
    .pr-5{
        padding-right: 0px !important;
    }
    .img6 {
        width: 100%;
        height: 100%;
        padding-top: 2rem;
    }
    
    .img7 {
        width: 100%;
        height: 100%;
        padding-top: 2rem;
    }
    .img8{
        width: 100%;
        height: 100%;
       
    }
    
    .img9{
        width: 100%;
        height: 100%;

    }
    
    .img10{
        width: 100%;
        height: 100%;
        padding-top: 2rem;
    }
    
    .img11{
        width: 100%;
        height: 100%;
    }
    .btn{
        background: #2B7A78;
        border-radius: 5px;
        padding: 15px 40px;
        text-align: center !important;
    }
    .button a{
        font-family: 'Playfair Display', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 32px;
        color: #FFFFFF;
    }
    .caption {
        position: absolute;
        top: 85%;
        width: 80%;
        text-align: center;
        font-family: 'Playfair Display', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        color: #FFFFFF;
    } 
    .details {
        font-size: 1.7rem;
    }
    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
    }
    .write {
        text-align: center !important;
        margin: 0 auto !important;
        padding-top: 1rem !important;
        padding-bottom: 0 !important;
    }
    .rule {
        margin: auto;
    }
}
@media screen and (max-width: 997px){
    .navbar-brand{
        padding-left: 0px !important;
    }
    .About h2{
        font-family: 'Playfair Display', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        text-transform: capitalize;
        color: #7A7A7A;
    }
    
    .About p{
        font-family: Playfair Display, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        color: #7A7A7A;
        padding-top: .5rem !important;
    }
    .img1 {
        width: 100%;
        height: 100%;
    }
    
    .img2 {
        width: 100%;
        height: 100%;
    }
    
    .col-md-3 .screen-img {
        padding-left: 0;
    }
    .img3 {
        width: 100%;
        height: 100%;
    }
    
    .img4 {
        width: 100%;
        height: 100%;
    }
    
    .img5 {
        width: 100% !important;
        height: 100%;
    }
    
    .img6 {
        width: 100%;
        height: 100%
    }
    
    .img7 {
        width: 100%;
        height: 100%;
    }
    .img8{
        width: 100%;
        height: 100%;
    }
    
    .img9{
        width: 100%;
        height: 100%;
    }
    
    .img10{
        width: 100%;
        height: 100%;
    }
    
    .img11{
        width: 100%;
        height: 100%;
    }
    .contact-grid {
        width: 100%;
    }
    
    .form-inputs {
        width: 100%
    }    
    .form-btn {
        padding: .4rem 2rem;
        margin-left: 4.5rem;
    }
    .white-div h3 {
        letter-spacing: 4px;
    }
    .colored-div h3 {
        letter-spacing: 4px;
    }
    .details {
        font-size: 1.7rem;
    }
    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
    }
    .write p{
        text-align: center !important;
        margin: 0 auto !important;
        padding-top: 1rem !important;
        padding-bottom: 0 !important;
    }
    .rule {
        margin: auto;
    }
}